{% extends "base_template.html" %}
{% block base_head_contents %}<title>Sign Me Up For...</title>{% endblock %}
{% block page_body %}
<ul>{% for t in topics %}
   <li><a href="{% url signmeup.views.view_topic t.key %}">{{ t.name }}</a> (by {{ t.owner }} on {{ t.timestamp|date:"Y/m/d h:i" }}):<br /> {% if t.description %}<span class="snippet">{{ t.description|truncatewords:"15" }}</span>{% else %}<span class="snippet"><i>No description</i></span>{% endif %}</li>
{% endfor %}</ul>
<p>{% if prev_page %}<a href="?page={{ prev_page }}">Previous 10...</a><br />{% endif %}
{% if next_page %}<a href="?page={{ next_page }}">Next 10...</a>{% endif %}</p>

<p><a href="{% url signmeup.views.define_topic %}">Create a new topic</a></p>
{% endblock %}